<app-shared-modal #addDepartment modaltTitle="Add Department" formName="addForm" [modalConfig]="modalConfig.addModalConfig" (newConfirmationEvent)="addDepartmentnModal()">
    <div class="container my-5">
        <form id="addForm" #form="ngForm">
            <div class="form-group mb-3">
                <input type="text" title="This field is required" class="form-control" id="department" name="department" [(ngModel)]="addDepartmentRequest.name"
                    [ngModelOptions]="{standalone: true}" placeholder="Name" >
            </div>
        </form>
    </div>

</app-shared-modal>

<app-shared-modal #editDepartment modaltTitle="Edit Department" [modalConfig]="modalConfig.editModalConfig"(newConfirmationEvent)="editDepartmentnModal()">
    <div class="container my-5">
        <form #form="ngForm">
            <div class="form-group mb-3">
                <label for="department">Name</label>
                <input type="text"  class="form-control" id="department" name="department" [(ngModel)]="departmentRequest.name"
                 [ngModelOptions]="{standalone: true}" placeholder="Name" >
            </div>      
        </form>
    </div>
</app-shared-modal>

<app-shared-modal #deleteDepartment modaltTitle="Delete Department" [modalConfig]="modalConfig.deleteModalConfig" (newConfirmationEvent)="deleteDepartmentnModal()">
    <p  class="text-danger">Are you sure to delete ?</p>
</app-shared-modal>
