<div class="container">
  <div class="row" style="justify-content: center;">
    <div class="col-6">
      <button class="btn btn-lg btn-outline-primary" *ngIf="authService.hasPermission('Positions.Create')"
        style="margin-bottom: 5px; width: 750px;" (click)="showAddpositionModal()">
        Add Position
      </button>
      <table class="table table-bordered " style="width: 750px;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Create Date</th>
            <th scope="col">Modified Date</th>
            <th
              *ngIf="authService.hasPermission('Positions.Update') && authService.hasPermission('Positions.Delete') || authService.hasPermission('Positions.Delete')|| authService.hasPermission('Positions.Update') "
              scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let position of positions">
            <th scope="row">{{position.id}}</th>
            <td>{{position.name}}</td>
            <td>{{position.createDate|dateFormat}}</td>
            <td>{{position.modifiedDate |dateTimeFormat}}</td>
            <td
              *ngIf="authService.hasPermission('Positions.Update') && authService.hasPermission('Positions.Delete') || authService.hasPermission('Positions.Delete')|| authService.hasPermission('Positions.Update') ">

              <button *ngIf="authService.hasPermission('Positions.Update')" type="button" class="btn btn-success"
                style="margin-right: 5px;" (click)="showEditpositionModal(position.id)"><i
                  class="bi bi-pencil"></i></button>
              <button *ngIf="authService.hasPermission('Positions.Delete')" type="button" class="btn btn-danger"
                (click)="showDeletePositionModal(position.id)"><i class="bi bi-trash-fill"></i></button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row-flex">
  </div>
</div>

<app-positionmodal [parent]="this"></app-positionmodal>