
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-lg-6 mb-4 mb-lg-0">
      <div class="card mb-3" style="border-radius: .5rem;">
      <div class="row">
        <div class="col-md-4 gradient-custom text-center text-white"
          style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
          <img src="https://cdn-icons-png.flaticon.com/512/219/219986.png"
            alt="Avatar" class="img-fluid" style="width: 80px; margin:30px 0px;" />
            <div class="row text-center">
              <label for="userName" class="form-label">UserName</label>
              <input type="text"  readonly  style="border-width: 0px; box-shadow: none; padding: 0px; background-color:rgba(0, 0, 0, 0);" class="form-control text-center " id="userName" email="userName" [(ngModel)]="userInfo.user.firstName +' '+ userInfo.user.lastName">
            </div>
        </div>
        <div class="col-md-8">
          <div class="card-body-flex p-4">
            <h6>Information</h6>
            <hr class="mt-0 mb-4">
            <div class="row pt-1">
              <div class="col-6 mb-3">
                <label for="email" class="form-label">Email</label>
              <input type="text" readonly  style="border-width: 0px; box-shadow: none;padding: 0px;" class="form-control" id="email" email="email" [(ngModel)]="userInfo.user.email">
            </div>
            <div class="col-6 mb-3">
              <label for="age" class="form-label">Age</label>
              <input type="text" readonly  style="border-width: 0px; box-shadow: none;padding: 0px;" class="form-control" id="age" age="age" [ngModel]="getAge(userInfo.user.employee.birthDate) + ' ' + 'year'">
            </div>
            <div class="col-6 mb-3">
              <label for="departments" class="form-label">Departments</label>
              <input type="text" readonly  style="border-width: 0px; box-shadow: none;padding: 0px;" class="form-control" id="departments" departments="departments" [ngModel]="userInfo.user.employee.department">
          </div>
          <div class="col-6 mb-3">
            <label for="position" class="form-label">Position</label>
            <input type="text" readonly  style="border-width: 0px; box-shadow: none;padding: 0px;" class="form-control" id="position" position="position" [ngModel]="userInfo.user.employee.position">
        </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>