<div class="container py-5 h-100 ">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
            <div class="card mb-3" style="border-radius: .5rem; background-color:rgb(176, 209, 209) ;">
                <div class="row m-0" style="justify-content: center;">
                    <div class="col-md-8" style="border:rgb(51, 46, 46);">
                        <div class="card-body p-4" style="text-align: center;">
                            <p>Weleco to Home Page</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>