.gradient-custom {
    /* fallback for old browsers */
    background: #65b2f6;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(101, 215, 246), rgba(133, 187, 253));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(101, 215, 246), rgb(133, 187, 253))
    }