<app-shared-modal #addPosition modaltTitle="Add Position" formName="addForm" [modalConfig]="modalConfig.addModalConfig" (newConfirmationEvent)="addPostion()">
    <div class="container my-5">
        <form id="addForm" #form="ngForm">
            <div class="form-group mb-3">
                <input type="text" title="This field is required" class="form-control" id="name" name="position" [(ngModel)]="addPositionRequest.name"
                    [ngModelOptions]="{standalone: true}" placeholder="Name" >
            </div>
        </form>
    </div>

</app-shared-modal>

<app-shared-modal #editPosition modaltTitle="Edit Position" [modalConfig]="modalConfig.editModalConfig" (newConfirmationEvent)="editPostion()">
    <div class="container my-5">
        <form #form="ngForm">
            <div class="form-group mb-3">
                <label for="name">Name</label>
                <input type="text"  class="form-control" id="name" name="name" [(ngModel)]="positionRequest.name"
                 [ngModelOptions]="{standalone: true}" placeholder="Name" >
            </div>      
        </form>
    </div>
</app-shared-modal>

<app-shared-modal #deletePosition modaltTitle="Delete Position" [modalConfig]="modalConfig.deleteModalConfig" (newConfirmationEvent)="deletePositions()">
    <p  class="text-danger">Are you sure to delete ?</p>
</app-shared-modal>