<div class="container my" style="max-width: 1500px;">
    <button class="btn btn-lg btn-outline-primary" *ngIf="authService.hasPermission('Employees.Create')"
        style="width: 1256px; margin-bottom: 5px;" (click)="showAddemployeeModal()">
        Add Employee
    </button>
    <table class="table table-bordered table-lg" *ngIf="employees && employees.length>0">
        <thead>
            <tr style="text-align: center;">
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>BirthDate</th>
                <th>Postion</th>
                <th>Manager</th>
                <th>Departments</th>
                <th> Actions</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            <tr *ngFor="let employee of employees">
                <td>{{employee.id}}</td>
                <td style="color: black;">{{employee.name}}</td>
                <td>{{employee.surname}}</td>
                <td>{{employee.birthDate | dateFormat }}</td>
                <td>{{employee.position}}</td>
                <td>{{employee.manager}}</td>
                <td>
                    <p style="float:right;" *ngFor="let departments of employee.employeeDepartments">{{departments.name
                        + ', '}}</p>
                </td>
                <td>
                    <button style="margin-right: 5px;" *ngIf="authService.hasPermission('Employees.Managers')"
                        class=" btn btn-info" (click)="showEmployeeManagersModal(employee.id,employee.name)">See All
                        Managers</button>
                    <button style="margin-right: 5px;" *ngIf="authService.hasPermission('Employees.ManagerEmployees')"
                        class=" btn btn-info" (click)="showManagerEmployeeModal(employee.id,employee.name)">See All
                        Managers Employee</button>
                    <button style="margin-right: 5px;" *ngIf="authService.hasPermission('Employees.Update')"
                        class="btn btn-success" (click)="showeditModal(employee.id)">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button *ngIf="authService.hasPermission('Employees.Delete')" class=" btn btn-danger"
                        (click)="showDeleteModal(employee.id)">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                    <app-employeemodal [employeeName]="employee.name" [parent]="this"></app-employeemodal>
                </td>
            </tr>
        </tbody>

    </table>
    <p *ngIf="employees.length===0">No Employees Found</p>
    <app-employeemodal [parent]="this"></app-employeemodal>
</div>