<div class="container my" style="max-width: 1500px;">
    <table class="table table-lg" *ngIf="employees && employees.length>0">
        <thead>
            <tr style="text-align: center;">
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>BirthDate</th>
                <th>Postion</th>
                <th>Manager</th>
                <th>Departments</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            <tr *ngFor="let employee of employees">
                <td>{{employee.id}}</td>
                <td style="color: black;">{{employee.name}}</td>
                <td>{{employee.surname}}</td>
                <td>{{employee.birthDate}}</td>
                <td>{{employee.position}}</td>
                <td>{{employee.manager}}</td>
                <td>
                    <p style="float:right;" *ngFor="let departments of employee.employeeDepartments">{{departments.name + ', '}}</p>
                </td>
                <td> <button class=" btn btn-outline-info" (click)="showEmployeeManagersModal(employee.id)">See All Managers</button></td>
                <td> <button class=" btn btn-outline-info" (click)="showManagerEmployeeModal(employee.id)">See All Managers Employee</button></td>
                <td> <button class=" btn btn-outline-warning" (click)="showeditModal(employee.id)">Edit</button></td>
                <td> <button class=" btn btn-outline-danger" (click)="showDeleteModal(employee.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!employees">No Employees Found</p>
</div>


<button class="btn btn-lg btn-outline-primary"(click)="showAddemployeeModal()">
    Add Employee
</button>

<app-employeemodal (newConfirmationEvent)="getConfirmationValue($event)"></app-employeemodal>

<app-employeemodal></app-employeemodal>

<app-employeemodal></app-employeemodal>

