<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="" *ngIf="authService.isAuthenticated">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="employee"
              *ngIf="authService.hasPermission('Employees') && authService.isAuthenticated">Employees
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="position"
              *ngIf="authService.hasPermission('Positions') && authService.isAuthenticated">Positions
            </a>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="department"
              *ngIf="authService.hasPermission('Departments')&& authService.isAuthenticated ">Departments
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="users"
              *ngIf="authService.hasPermission('Users') && authService.isAuthenticated ">Users
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="signup" *ngIf="!authService.isAuthenticated">
              Register
            </a>
          </li>

        </ul>
        <div>

        </div>
        <div ngbDropdown class="d-inline-block">
          <button *ngIf="authService.isAuthenticated" type="button" class="btn btn-outline-primary" id="dropdownBasic1"
            ngbDropdownToggle>
            <div class="d-inline-block">
              <i class="bi bi-person-circle"></i>
              <p>{{userInfo.userconfig.user.email}}</p>
            </div>

          </button>
          <div ngbDropdownMenu style="width: auto; justify-content: center;" aria-labelledby="dropdownBasic1">
            <button (click)="gotoProfile()" ngbDropdownItem>Profile</button>
            <button (click)="signOut()" ngbDropdownItem> Sign Out</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="px-2 my-3">
    <router-outlet></router-outlet>
  </div>
</div>