<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5">Login Form</h2>
            <div class="card my-5 ">

                <form [formGroup]="loginForm" class="card-body cardbody-color p-lg-5" style="line-height:25px">
                    <div class="mb-3"  [class.error]="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
                            <input formControlName="email" type="text" class="form-control" id="email"
                                placeholder="Email Adress">
                        </div>
                        <small class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">*Email Adress is required</small>
                        <small class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('email','email')">*Email Address is not proper</small>
                    </div>
                  
                    <div class="mb-3">
                        <div class="input-group" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock"></i></span>
                            <input formControlName="password" [type]="type" class="form-control" id="password" placeholder="Password">
                            <span (click)="hideShowPassword()" class="input-group-text" id="basic-addon1"><i class="bi {{eyeIcon}}"></i></span>

                        </div>
                        <small class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">*Password is required</small>
                    </div>
                    <div class="text-center"><button (click)="onSubmit()" type="button" class="btn btn-color px-5 mb-3 w-100">Login</button>
                    </div>
                    <div id="emailHelp" class="form-text text-center mb-2 text-dark">Not
                        Registered? <a routerLink="/signup" class="text-dark fw-bold"> Create an
                            Account</a>
                    </div>
                    <div class="text-center">
                        <small *ngIf="!isLoginInfo" class="text-danger">Please check your email address or password</small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
